<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.asu.remindmenow"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyDreUNbjum6l4_W3a_cS4JBgwRgH7v22pE" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDOOLUo46iEIy_OAbHlfB-l0q_1pSBo7t8"/>

        <!-- Services -->
        <service android:name=".userReminder.UserReminderService" />

        <service android:name="edu.asu.remindmenow.geofence.GeofenceTransitionsIntentService"
            android:exported="true"/>

        <service android:name=".location.Location_GeofenceTransitionsIntentService"
            android:exported="true"/>


        <!-- Receivers -->
        <receiver android:name="edu.asu.remindmenow.services.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>



        <!-- Activities -->


        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />


        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.UserReminderActivity"
            android:label="@string/friendReminder">
        </activity>

        <activity
            android:name=".activities.ReminderListViewLoader"
            android:label="@string/reminder_list">
        </activity>

        <activity
            android:name=".activities.GeofenceReminderActivity"
            android:label="@string/zoneReminder"
            >
        </activity>


        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/remindmenow">


        </activity>

        <activity
            android:name=".activities.LocationReminderActivity"
            android:label="@string/locationReminder">

        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/app_name">

        </activity>
    </application>

</manifest>
